# npm
dist
web
node_modules

# test coverage
coverage

# config
# config.json is required at build time (imported by src/scripts/settings/webSettings.js)

# ide
.idea
.vs

# vim
*.sw?

# direnv
.direnv/

# environment related
.envrc
